name: Backend CI/CD

on:
  push:
    branches: [ Release ]   
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      # Si luego agregas tests unitarios, puedes descomentar esto:
      # - name: Test
      #   run: dotnet test --configuration Release --no-build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file : SOE_MDEIS_BACKEND_GESTION/Dockerfile
          push: true
          tags : |
            ${{ secrets.DOCKERHUB_REPOSITORY }}:latest
            ${{ secrets.DOCKERHUB_REPOSITORY }}:${{ github.sha }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.vars.outputs.image }}:latest
            ${{ steps.vars.outputs.image }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Deploy to Contabo via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_REPOSITORY }}:latest

            docker stop soe-mdeis-backend || true
            docker rm soe-mdeis-backend || true

            docker run -d --name soe-mdeis-backend \
              -p 8080:8080 \
              -e ASPNETCORE_URLS="http://0.0.0.0:8080" \
              -e ASPNETCORE_ENVIRONMENT=Production \
              ${{ secrets.DOCKERHUB_USERNAME }}/soe-mdeis-backend:latest